.search-box {
        display: flex;
        height: 36px;
        width: 430px;
        @media (max-width: 480px) {
                width: 264px;
        }
        & input {
                width: 100%;
                padding: 8px 16px;
                outline: none;
                border: none;
                height: 100%;
                background-color: #ffffff;
                border-radius: 2px 0 0 2px;
        }
}

.search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #279cff;
        width: 50px;
        height: 100%;
        outline: none;
        border: none;
        border-radius: 0 2px 2px 0;
        & svg {
                width: 16px;
                height: 16px;
        }
}
